body
{
	background-image: url("Yes.png");
}

header
{
	background: linear-gradient(90deg, #FA8072 0%, #FFA07A 50%, #CD5C5C 100%);
  padding-top:2em;
  padding-bottom: 1em;
  width:100%;
  text-align: center;
}

main
{
  padding-top: 3em;
}
/*agenda*/
table {
    border-collapse: collapse;
    margin: auto;
    text-align: center;
}

td,
tr {
    border: 1px solid black;
    padding: 10px;
}

#Avril
{
  background-color: cadetblue;
}

.agenda button
{
  display: block;
  margin : auto;
  width:110px;
  cursor:pointer;
  text-transform:capitalize;
}
/*Fin agenda*/

/*Formulaire*/

/*Fin formulaire*/